@charset "UTF-8";

@keyframes mymove {
	0% {
		left: 0px;
		top: 0px;
	}
	40% {
		left: 200px;
		top: 0px;
	}
	70% {
		left: 200px;
		top: 200px;
	}
	100% {
		left: 400px;
		top: 200px;
	}
}
body { 
	margin: 0;
}
div {
	width: 100px;
	height: 100px;
	position: absolute;
	background-color: #da70d6;
	font-weight: bold;
	animation-name: mymove;
	animation-duration: 5s;
}
