@charset "UTF-8";

div {
	margin: 10px;
	padding: 10px;
	font-family: Impact, sans-serif;
	font-size: 50px;
}
#sample1 {
	text-shadow: darkgray 20px 10px;
}
#sample2 {
	color: white;
	text-shadow: black 1px 1px 2px, teal 0 0 20px;
}