@charset "UTF-8";

body {
    counter-reset: chapter;
}
h1:before {
	content: "第" counter(chapter) "章　"; 
	counter-increment: chapter;
}
h1{
	counter-reset: section;
}
h2:before {
	content: counter(chapter) "-" counter(section) "　";
	counter-increment: section;
}