@charset "UTF-8";

div {
	margin: 1.5em;
	padding: 1em;
	width: 200px;
	border-width: 7px;
	border-style: solid;
	font-family: Arial, Helvetica, sans-serif;
}
#sample1 {
	border-top-color: #dc143c;
	border-right-color: #ff8c00;
	border-bottom-color: #2e8b57;
	border-left-color: #0000cd;
}
#sample2 {
	border-color: crimson darkorange seagreen mediumblue;
}
