@charset "UTF-8";

div.item {
	margin: 20px;
	width: 550px;
}
code {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: medium;
}
span {
	font-size: small;
}
.sample1 {
	background-color: #ffcccc;
	font-size: xx-large;
}
.sample2 {
	background-color: #ffcccc;
}
.baseline {
	vertical-align: baseline;
}
.sub {
	vertical-align: sub;
}
.super {
	vertical-align: super;
}
.top {
	vertical-align: top;
}
.text-top {
	vertical-align: text-top;
}
.middle {
	vertical-align: middle;
}
.bottom {
	vertical-align: bottom;
}
.text-bottom {
	vertical-align: text-bottom;
}

